  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

  :root{
    --primary-colour: #7C3AED;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
    --dark-blue: #1e3a8a;
  }

  body{
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
  }

  hr {
    margin: 2rem 0rem;
  }

  /** container **/
  
  .container {
    padding: 0rem 1rem;
  }

  .container-center {
    max-width: 600px;
    margin: auto;
  }

  /** links **/

  .link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .link-primary {
   background-color: var(--primary-colour); 
   border-radius: 0.5rem;
   padding-bottom: 1cm;
   color: var(--off-white) ;
  }

  .link-secondary {
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-colour);
  }

  /** lists **/


.list-non-bullet {
  list-style: none;
}

.list-iteam-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
  background-color: var(--primary-colour);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.navigation .nav-pills {
  text-align:right;
}

.navigation .link {
  color: white
}

.navigation .link-active {
  font-weight: bold;
}

/** header **/

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-img-1 {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-colour);
}

/** section **/

.section {
  padding: 2rem;
}

.section h3 {
  text-align: center;
  padding: 2rem;
}

.section .para {
  text-align: center;
}

.ow {
background-color: var(--off-white);
}

.section .section-project {
  color: var(--dark-blue);
}

/** footers **/


.footer {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-colour);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link .word-center {
  text-align: center;
}

.footer .link {
  color: white;
}

.footer .fotter-header {
  font-weight: bold;
  font-size: large;
}

.footer .ul {
  padding-inline-start: 0px;
}
